
<h1> Everyone's beatiful recipes </h1>
<ul class="photos-list">
<% if user_signed_in? %>
  <%= link_to 'New recipe', new_recipe_path %><br><br>
  <% @recipes.each do |recipe| %>
  <div id='recipe_<%=recipe.id %>'>
    <strong><%= recipe.user.user_name %></strong><br>
    <%= image_tag recipe.image.url(:medium) %><br>
    <%= recipe.description %><br>
    <%= recipe.created_at.strftime('Posted at %I:%M%p, %d/%m/%Y') %><br>
    <% if recipe.user_id == current_user.id %>
    <%= link_to 'Edit Recipe', edit_recipe_path(recipe)%>
    <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>

    <%= link_to 'Add Comment', new_recipe_comment_path(recipe.id), method: :get %><br>

    <% recipe.comments.each do |comment| %>
    <div id="comment_<%=comment.id %>">
      <strong><%= comment.user.user_name %></strong>
      <%= comment.content %><br>
      <%= comment.created_at.strftime('Posted at %I:%M%p, %d/%m/%Y') %><br>
    </div>
      <% end%>
    </div>
  <% end %>
<% end %>
</ul>
